body {
    font-family: 'Raleway', sans-serif;
}

#bloc_page {
    width: 90%;
    margin: auto;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

#logo img {
    width: 70%;
    height: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-left: 40px;
}

nav a {
    color: #181818;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

nav a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 23px;
}

h1 {
    font-size: 25px;
    margin-bottom: 5px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

#search h2 {
    font-size: 20px;
}

.search_bar {

    height: 50px;
    display: flex;
}

.fa-solid.fa-location-dot { 
    width: 50px;
    height: 50px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px 0 0 12px;
}

.input_field {
    height: 50px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding-left: 10px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    border-right: none;
    border-left: none;
    font-family: 'Raleway', sans-serif;
}

::placeholder {
    color: black;
    font-weight: bold;
    font-weight: bolder;
}

.submit {
    background-color: #0065FC;
    height: 50px;
    border-radius: 0px 12px 12px 0px;
    color: white;
    border-style: none;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

#search ul li {
    margin-right: 20px;
    color: black;
    font-weight: bolder;
}

#search ul li a {
    text-decoration: none;
    color: black;
    padding-right: 6px;
}

@media screen and (min-width: 769px)
{
.submit_icon {
    display: none;
}

header img:last-child {
    display: none;
}
}

#filtre {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin: 10px 0;
}

#filtre ul {
    display: flex;
    list-style-type: none;
}

#filtre p {
    display: flex;
    justify-content: center;
    align-items: center;
}

#filtre li {
    border: 2px solid #F2F2F2;
    border-radius: 28px;
    display: flex;
    cursor: pointer;
}

#filtre li:hover {
    border-color: #DEEBFF;
}

#filtre li:hover a {
    color:#0065FC;
}

#filtre div {
    display: flex;
}

#filtre i {
    background-color: #DEEBFF;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-left: -2px;
    margin-top: -2px;
    margin-bottom: -2px;
    margin-right: 10px;
}

.fa-solid.fa-money-bill-wave, .fa-solid.fa-child-reaching, .fa-solid.fa-heart, .fa-solid.fa-dog {
color: #0065FC;
}

#filtre a {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 8px; */
    margin-right: 8px;
}

.fa-solid.fa-info {
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    color: #0065FC;
    margin-right: 10px;
}

#info {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

#hebergements_pop {
    display: flex;
}

#hebergements {
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 30px;
    width: 66.66%;
}

#hebergements h2{
    margin-top: 5px;
}

.hebergement_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.hebergement_card {
    background-color: white;
    padding: 5px;
    border-radius: 22px;
    color: black;
    text-decoration: none;
    width: 30%;
    margin-bottom: 15px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

.hebergement_card:hover {
    box-shadow:  0 0 11px rgba(33,33,33,.3); ;
}

.visual_accommodation {
    width: 100%;
    height: 130px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.hebergement_card p, .stars {
    padding-left: 5px;
    margin: 10px;
}

.stars{
    color: #0065FC;
    box-sizing: border-box;
    white-space: nowrap;
}

.grey{
    color:#F2F2F2;
    box-sizing: border-box;
}

.bold {
    font-weight: bolder;
}

.see_more {
color: black;
text-decoration: none;
font-weight: bold;
}

#pop {
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-left: 30px;
    padding: 30px;
    width: 33.33%;
}

#pop h2{
    margin-top: 5px;
}

.top_title {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.pop_card p, .stars {
    padding-left: 5px;
    margin: 10px;
}

.pop_cards {
    display: flex;
    flex-direction: column;
}

.pop_card {
    display: flex;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    height: 130px;
    margin: 22px 0px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    min-width: 298px;
}

.pop_card div:last-child {
    position: relative;
}

.pop_card div .stars {
    position: absolute;
    bottom: -0px;
    left: 0px;
}

.pop_card:hover {
    box-shadow:  0 0 11px rgba(33,33,33,.3); ;
}

.visual_pop {
    width: 120px;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0px 0px 20px;
}

.pop_cards .bold {
    font-weight: bold;
}

.pop_cards div
{
    box-sizing: border-box;
}

#activites {
margin-top: 45px;
display: flex;
flex-direction: column;
margin-bottom: 45px;
}

.activity_boxes {
display:flex;
gap: 25px;
height: 600px;
width: 100%;
}

.activity_box {
    text-decoration: none;
    color: black;
    width: 30%;
}

.port:hover, .pomegues:hover, .frioul:hover, .calanques:hover, .garde:hover, .longchamp:hover {
    box-shadow:  0 0 11px rgba(33,33,33,.4); 
}

.activity_box div {
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    border-radius: 22px;
    padding-bottom: 5px;
}

.activity_box p {
    padding-left: 20px;
    font-weight: bold;
}

.port, .calanques{
    height: 600px;
    box-sizing: border-box;
}

.pomegues {
    margin-bottom: 25px;
    height: 60%;
}

.frioul {
    height: 34%;
}

.garde {
    margin-bottom: 25px;
} 

.column {
    width: 30%;
}

.visual_activity {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.port img, .calanques img{
    height: 90%;
}

.garde img, .longchamp img{
    height: 228px;
}

.pomegues img{
    height: 312px;
}

.frioul img{
    height: 146px;
}

footer {
    background-color: #F2F2F2;
    width: 100%;
    padding-bottom: 20px;
}

#footer_content{
    display: flex;
}

footer h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 30px;
}

footer li {
    list-style-type: none;
    margin-bottom: 10px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer ul {
    padding-left: 0px;
}

footer div {
    margin-right: 200px;
    margin-left: 25px;
}


/* Media queries */
/* Tablette */

@media screen and (max-width: 992px)
{
    #hebergements_pop {
        flex-direction:column-reverse;
    }

    #hebergements {
        width: auto;
    } 
    
    #pop {
        width: auto;
        margin-left:unset;
        margin-bottom: 25px;
    }
    
    .pop_cards {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }  

    .pop_card p {
        margin: 10px 5px;
    }

    .pop_card {
        min-width: 233px;
        width: 30%;
        height: 150px;
    }
    .visual_pop{
        width: 90px;
    }

    #filtre ul {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }

    #filtre {
        display: flex;
        align-items: flex-start;
    }
}

@media screen and (max-width: 926px) {
    #pop {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px ;
        border-radius: 15px;
    }
    
    .pop_cards {
        flex-direction: column;
    }

    .pop_card{
        width: 100%;
        min-height: 100px;
        margin: unset;
        height: 143px;
    }

    .visual_pop{
        width: 140px;
        height: 100%;
    }
}


/* Mobile */
@media screen and (max-width:768px) {

    #bloc_page {
        width: unset;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #logo {
    text-align: center;
    }

    header img:first-child {
        display: none;
    }
    
    header ul {
        padding: 0px 0px 0px 0px;
    }

    nav {
        width: 100%;
    }
    
    nav a {
        margin-left: 0px;
        width: 50%;
        font-size: 20px;
    }

    nav a:hover {
        border-top: none;
    } 
    
    nav li:hover {
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 12px;
        border-top: none;
    }
    
    nav li {
        margin: unset;
        width: 50%;
        text-align: center;
        border-bottom: 2px solid #f2f2f2;
        padding-bottom: 25px;
    }
    
    h1 {
        font-size: 22px;
        margin-top: 40px;
    }
    
    #logo img {
        width: 40%;
        height: auto;
    }

    #search {
        margin: 0px 25px;
    }
    
    .input_field{
        width: 100%;
    }

    .submit {
        display: none;
    }

    .submit_icon {
    background-color: #0065FC;
    height: 50px;
    border-radius: 12px 12px 12px 12px;
    color: white;
    border-style: none;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
    margin-left: -10px;
    }

    #filtre {
        flex-direction: column;
        align-items: flex-start;
    }
    
    #filtre ul{
    padding: unset;
    flex-wrap: wrap;
    align-content: space-between;
    }
    
    #hebergements_pop {
        display: flex;
        flex-direction: column-reverse;
    }
    
    #pop {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-bottom: 25px ;
        border-radius: unset;
    }
    
    .pop_cards {
        flex-direction: column;
    }

    .pop_card{
        width: 100%;
        min-height: 100px;
        margin: unset;
        height: 143px;
    }

    .visual_pop{
        width: 140px;
        height: 100%;
    }
    
    #hebergements {
        width: auto;
        background-color: unset;
    }
    
    .hebergement_cards {
        display: flex;
        flex-direction: column;
    }
    
    .hebergement_card {
        width: auto;
    }

    .activity_boxes {
        display: flex;
        flex-direction: column;
    }

    #activites {
        padding: 0px 30px;
        margin-top: unset;
        height: 1575px;
    }

    .activity_box{
        width: 100%;
    }

    .column {
        width: 100%;
    }

    .port, .calanques, .pomegues, .frioul, .garde, .longchamp{
        height: 228px;
    }

    .port img, .pomegues img, .frioul img, .calanques img, .garde img, .longchamp img {
        height: 170px;
    }

    #footer_content {
        flex-direction: column;
        width: 100%;
        padding-bottom: 30px;
    }

    #footer_content ul {
        width: 258px;
    }

}